# PocketBase Google Auth
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# PocketBase Initial Admin Account
ADMIN_EMAIL=admin@ponto.dev
ADMIN_PASSWORD=your_secure_password_here
